{% extends '::index.html.twig' %}

{% block body %}
    <h1>Equipement edit</h1>

    {{ form(edit_form) }}

        <table  class="table table-hover">
        <tr>
        <td>
        <a href="{{ path('equipement') }}" class="btn btn-primary">
            Back to the list
        </a>
        </td>
        <td>
        {{ form(delete_form) }}
        </td>
        </tr>
        </table>
        
    
{% endblock %}
