{% extends '::index.html.twig' %}

{% block body %}
    <h1>Equipement list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Dispo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('equipement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.dispo }}</td>
                <td>
               
                        <a href="{{ path('equipement_show', { 'id': entity.id }) }}" class="btn btn-danger">show</a>
                   |
                        <a href="{{ path('equipement_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <table>
       <td>
            <a href="{{ path('equipement_new') }}" class="btn btn-warning">
                Create a new entry
            </a>
        </td>    
       </table>
    {% endblock %}
