{% extends '::index.html.twig' %}

{% block body %}
    <h1>Equipement creation</h1>

    {{ form(form) }}

       <table>
       <tr>
       <td>
        <a href="{{ path('equipement') }}" class="btn btn-primary">
            Back to the list
        </a>
    
       </td>
       </tr>
       </table>
       
{% endblock %}
