{% extends '::index.html.twig' %}

{% block body %}
    <h1>Equipement</h1>

    <table class="record_properties table table-hover" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ entity.dispo }}</td>
            </tr>
        </tbody>
    </table>
   <br>
   <br>
       <table>
       <tr>
       <td>
       <a href="{{ path('equipement') }}" class="btn btn-warning">
            Back to the list
        </a>
         |
         <a href="{{ path('equipement_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
       </td>
       
       </tr>
       </table>
       <br>
       <br>
       {{ form(delete_form) }}
        
    
       
   
{% endblock %}
