{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Boncommande edit</h1>

    {{ form(edit_form) }}
    <br>
    <br>

      <table>
      <tr>
      <td>
       <a href="{{ path('boncommande') }}" class="btn btn-warning">
            Back to the list
        </a>
        |
        {{ form(delete_form) }}
      </td>
      </tr>
      </table>
       
   
{% endblock %}
