{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Boncommande list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcom</th>
                <th>Iduser</th>
                <th>Datecom</th>
                <th>Type</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('boncommande_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numcom }}</td>
                <td>{{ entity.idUser }}</td>
                <td>{{ entity.datecom }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.heureDebut }}</td>
                <td>{{ entity.heureFin }}</td>
                <td>
                
                        <a href="{{ path('boncommande_show', { 'id': entity.id }) }}" class="btn btn-primary">show</a>
                   |
                        <a href="{{ path('boncommande_edit', { 'id': entity.id }) }}" class="btn btn-success">edit</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <br>
       <table>
       <tr>
       <td>
       </td>
       </tr>
       </tr>
       </table>
            <a href="{{ path('boncommande_new') }}" class="btn btn-warning">
                Create a new entry
            </a>
        
    {% endblock %}
