{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Boncommande creation</h1>

    {{ form(form) }}

      <br>
      <br>
      <table>
      <tr>
      <td> 
        <a href="{{ path('boncommande') }}" class="btn btn-warning">
            Back to the list
        </a>
        </td>
        </tr>
        </table>
    
{% endblock %}
