{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Boncommande</h1>

    <table class="record_properties table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numcom</th>
                <td>{{ entity.numcom }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
            <tr>
                <th>Datecom</th>
                <td>{{ entity.datecom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{{ entity.heureDebut }}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{{ entity.heureFin }}</td>
            </tr>
        </tbody>
    </table>
     <br>
     <br>
        <table>
        <tr>
        <td>
         <a href="{{ path('boncommande') }}" class="btn btn-warning">
            Back to the list
        </a>
        |
        <a href="{{ path('boncommande_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
        </td>
        </tr>
        </table>
        <br>
        <br>
        <table>
        <tr>
        <td>
          {{ form(delete_form) }}
        </td>
        </tr>
        </table>
  
{% endblock %}
