{% extends '::tech_dex.html.twig' %}

{% block body -%}
    <h1>Ordreservice list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Etatservice</th>
                <th>Idtransmission</th>
                <th>Iduser</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ordreservice_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.message }}</td>
                <td>{{ entity.etatService }}</td>
                <td>{{ entity.idTransmission }}</td>
                <td>{{ entity.idUser }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
