{% extends '::index.html.twig' %}

{% block body -%}
    

   <table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcom</th>
                <th>Iduser</th>
                <th>Datecom</th>
                <th>Type</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numcom }}</td>
                <td>{{ commande.idUser }}</td>
                <td>{{ commande.datecom }}</td>
                <td>{{ commande.type }}</td>
                <td>{{ commande.heureDebut }}</td>
                <td>{{ commande.heureFin }}</td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('boncommande_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
