{% extends '::index.html.twig' %}

{% block body %}
    

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Dispo</th>
               
            </tr>
        </thead>
        <tbody>
        {% for equip in equips %}
            <tr>
                <td>{{ equip.id }}</td>
                <td>{{ equip.type }}</td>
                <td>{{ equip.dispo }}</td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
