{% extends '::index.html.twig' %}

{% block body -%}
    <h1>Transmission list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Lieu</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Montantdevis</th>
                <th>Idequipement</th>
                <th>Iduser</th>
            </tr>
        </thead>
        <tbody>
        {% for tran in trans %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.heureDebut }}</td>
                <td>{{ entity.heureFin }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{{ entity.etat }}</td>
                <td>{{ entity.date }}</td>
                <td>{{ entity.montantdevis }}</td>
                <td>{{ entity.idEquipement }}</td>
                <td>{{ entity.idUser }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
    {% endblock %}