{% extends '::index.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}
<br>
<br>
      <table class="table table-hover">
      <tr>
      <td>
       <a href="{{ path('user') }}">
            Back to the list
        </a>
      </td>
      <td>
      {{ form(delete_form) }}
      </td>
      </tr>
      </table>
       
    
{% endblock %}
