{% extends '::index.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>
               
                        <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-success">show</a>
                   |
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <table>
       <tr>
       <td>
        <a href="{{ path('user_new') }}" class="btn btn-warning">
                Create a new entry
            </a>
       </td>
       </tr>
       </table>
           
       
    {% endblock %}
