{% extends '::index.html.twig' %}

{% block body -%}
    <h1>User creation</h1>
    {{ form_start(form) }}
    {{ form(form) }}
    {{ form_end(form) }}
       <br>
       <br>
        <a href="{{ path('user') }}" class="btn btn-waring">
            Back to the list
        </a>
  
{% endblock %}
