{% extends '::index.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="record_properties table table-hover" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
        </tbody>
    </table>
     <br>
     <br>
        <table>
        <tr>
        <td>
        <a href="{{ path('user') }}" class="btn btn-warning">
            Back to the list
        </a>
        |
        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
        </td>
        </tr>
        </table>
        <br>
        <br>

    {{ form(delete_form) }}
{% endblock %}
