{% extends '::index.html.twig' %}

{% block body %}
    <h1>Dac edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dac') }}" class="btn btn-" >
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
