{% extends '::tech_dex.html.twig' %}

{% block body -%}
    <h1>Rapport edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rapport') }}"  class="btn btn-success">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
