{% extends '::tech_dex.html.twig' %}

{% block body -%}
    <h1>Rapport list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Type</th>
                <th>Ordreservice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rapport_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.message }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.ordreService }}</td>
                <td>
                
                        <a href="{{ path('rapport_show', { 'id': entity.id }) }}" class="btn btn-danger">show</a>
                   |
                        <a href="{{ path('rapport_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <table>
        <tr>
        <td>
            <a href="{{ path('rapport_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
       </td>
       </tr>
       </table>
    {% endblock %}
