{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rapport creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rapport') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
