{% extends '::index.html.twig' %}

{% block body %}
    <h1>Dex edit</h1>

{{ form(edit_form) }}

    

        <ul class="record_actions">
    <li>
        <a href="{{ path('dex') }}" class="btn btn-warning">
            Back to the list
        </a>
    </li>
    <li></li>
</ul>
{{ form_start(delete_form) }}
<button type="submit" class="btn btn-danger btn-xs">
    <i class="fa fa-trash"></i>
</button>
{{ form_end(delete_form) }}
{% endblock %}
