{% extends '::index.html.twig' %}

{% block body %}


    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dex_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.password }}</td>
                <td>
             
                        <a href="{{ path('dex_show', { 'id': entity.id }) }}" class="btn btn-danger">show</a> |
                   
                        <a href="{{ path('dex_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <table>
        <td>
        <a href="{{ path('dex_new')  }}" class="btn btn-success">
                Create a new entry
            </a>
        </td>
        </table>
       
    
    {% endblock %}
