{% extends '::index.html.twig' %}

{% block body %}
    <h1>Dex creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dex') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
