{% extends 'login.html.twig' %}


{% block body %}

<form action="{{ path('inscrire_user_details') }}" method="post">
<div class="form-group">
<input type="hidden" id="id_user" name="id_user"  class="form-control" placeholder="Username" value="{{ id }}" />
</div>
<div class="form-group">
<input type="email" id="email" name="email" class="form-control" placeholder="Email" />
</div>
<div class="form-group">
<input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" />
</div>
<div class="form-group">
<input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prenom" />
</div>
<div class="form-group">
<select class="form-control" name="role_user" id="role_user">
<option value="client">Client</option>
<option value="direct_dex">Directeur dex</option>
<option value="tech_dex">Technique dex</option>
<option value="dac">Dac</option>
</select>
</div>
    
    

    
    

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn-lg btn-success btn-block">Ajouter les details de user</button>
</form>
{% endblock %}