{% extends 'login.html.twig' %}


{% block body %}

<form action="{{ path('inscrire_user') }}" method="post">
<div class="form-group">
<input type="text" id="username" name="_username"  class="form-control" placeholder="Username" />
</div>
<div class="form-group">
<input type="password" id="password" name="_password" class="form-control" placeholder="Password" />
</div>
    
    

    
    

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn-lg btn-success btn-block">Inscription</button>

</form>

{% endblock %}