{% extends '::tech_dex.html.twig' %}
{% block body -%}
    <h1>Transmission list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Lieu</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Montantdevis</th>
                <th>Idequipement</th>
                <th>Iduser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('transmission_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.heureDebut }}</td>
                <td>{{ entity.heureFin }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{{ entity.etat }}</td>
                <td>{{ entity.date }}</td>
                <td>{{ entity.montantdevis }}</td>
                <td>{{ entity.idEquipement }}</td>
                <td>{{ entity.idUser }}</td>
                <td>
                
                        <a href="{{ path('transmission_show', { 'id': entity.id }) }}" class="btn btn-warning">show</a>
                  |
                        <a href="{{ path('transmission_edit', { 'id': entity.id }) }}" class="btn btn-danger">edit</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <table>
       <tr>
       <td>
            <a href="{{ path('transmission_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
        </td>
        </tr>
        </table>
    {% endblock %}
