{% extends '::tech_dex.html.twig' %}
{% block body -%}
    <h1>Transmission creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('transmission') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
