{% extends '::tech_dex.html.twig' %}
{% block body -%}
    <h1>Transmission</h1>

    <table class="record_properties table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{{ entity.heureDebut }}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{{ entity.heureFin }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.etat }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date }}</td>
            </tr>
            <tr>
                <th>Montantdevis</th>
                <td>{{ entity.montantdevis }}</td>
            </tr>
            <tr>
                <th>Idequipement</th>
                <td>{{ entity.idEquipement }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
       <table>
       <tr>
       <td>
        <a href="{{ path('transmission') }}" class="btn btn-danger">
            Back to the list
        </a>
        |
        <a href="{{ path('transmission_edit', { 'id': entity.id }) }}">
            Edit
        </a>
       </td>
       </tr>
       </table>
       <br>
       <table>
       <tr>
       <td>
       {{ form(delete_form) }}
       </td>
       </tr>
       </table>
    
{% endblock %}
