{% extends '::index.html.twig' %}
{% block body  %}
    <h1>Detailsuser edit</h1>

    {{ form(edit_form) }}

       <table>
       <tr>
       <td>
         <a href="{{ path('detailsuser') }}" class="btn btn-warning">
            Back to the list
        </a>
        |
        {{ form(delete_form) }}
       </td>

       </tr>
       </table>
      
    {{ form(delete_form) }}
{% endblock %}
