{% extends '::index.html.twig' %}

{% block body -%}
    <h1>Detailsuser list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Iduser</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Roleuser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('detailsuser_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idUser }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.roleUser }}</td>
                <td>
                
                        <a href="{{ path('detailsuser_show', { 'id': entity.id }) }}" class="btn btn-danger">show</a>
                         |
                        <a href="{{ path('detailsuser_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       <table>
       <tr>
        <td>
        </td>
       </tr>
       </table>
            <a href="{{ path('detailsuser_new') }}" class="btn btn-warning">
                Create a new entry
            </a>
       
    {% endblock %}
