{% extends '::index.html.twig' %}

{% block body -%}
    <h1>Detailsuser creation</h1>

    {{ form_start(form) }}
   
    
    {{ form_widget(form) }}
   
    
   
{{ form_end(form) }}
<br>
<br>
       
        <a href="{{ path('detailsuser') }}" class="btn btn-warning">
            Back to the list
        </a>

{% endblock %}
