{% extends '::index.html.twig' %}

{% block body -%}
    <h1>Detailsuser</h1>

    <table class="record_properties table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Roleuser</th>
                <td>{{ entity.roleUser }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
<table>
<tr>
<td>
 <a href="{{ path('detailsuser') }}" class="btn btn-warning">
            Back to the list
        </a>
    |
        <a href="{{ path('detailsuser_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
</td>
</tr>
</table>
  <br>
  <br>     
   
   {{ form(delete_form) }}
{% endblock %}
