{% extends '::direct_dex.html.twig' %}
{% block body -%}
    <h1>Ordreservice edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ordreservice') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
