{% extends '::direct_dex.html.twig' %}

{% block body -%}
    <h1>Ordreservice list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Etatservice</th>
                <th>Idtransmission</th>
                <th>Iduser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ordreservice_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.message }}</td>
                <td>{{ entity.etatService }}</td>
                <td>{{ entity.idTransmission }}</td>
                <td>{{ entity.idUser }}</td>
                <td>
                
                        <a href="{{ path('ordreservice_show', { 'id': entity.id }) }}" class="btn btn-danger">show</a>
                   |
                        <a href="{{ path('ordreservice_edit', { 'id': entity.id }) }}" class="btn btn-success">edit</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <table>
        <tr>
        <td>
            <a href="{{ path('ordreservice_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
       </td>
       </tr>
       </table>
    {% endblock %}
