{% extends '::direct_dex.html.twig' %}
{% block body -%}
    <h1>Ordreservice creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ordreservice') }}"  class="btn btn-danger">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
