{% extends '::direct_dex.html.twig' %}
{% block body -%}
    <h1>Ordreservice</h1>

    <table class="record_properties table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Etatservice</th>
                <td>{{ entity.etatService }}</td>
            </tr>
            <tr>
                <th>Idtransmission</th>
                <td>{{ entity.idTransmission }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ordreservice') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ordreservice_edit', { 'id': entity.id }) }}" class="btn btn-danger">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
