{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Facture edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('facture') }}" class="btn btn-danger">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
