{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Facture list</h1>

<table class="records_list table table-striped table-bordered table-hover " id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idtransmission</th>
                <th>Datefacture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idTransmission }}</td>
                <td>{{ entity.dateFacture }}</td>
                <td>
                
                        <a href="{{ path('facture_show', { 'id': entity.id }) }}" class="btn btn-danger">show</a>
                    |
                        <a href="{{ path('facture_edit', { 'id': entity.id }) }}" class="btn btn-success">edit</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<table>
<tr>
<td>
            <a href="{{ path('facture_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
       </td>
       </tr>
       </table>
    {% endblock %}
