{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Facture creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('facture') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
