{% extends '::dac.html.twig' %}

{% block body -%}
    <h1>Facture</h1>

    <table class="record_properties table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idtransmission</th>
                <td>{{ entity.idTransmission }}</td>
            </tr>
            <tr>
                <th>Datefacture</th>
                <td>{{ entity.dateFacture }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('facture') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('facture_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
